<!--<center><h2>Sistema de Locação de Veículos</h2></center>-->

<br>

<table id="inicial" align="center" class="animated pulse">
	<tr>
	  <td>
	    <div>
	      <%= image_tag 'logo.png' %>
	    </div>
	  </td>
	</tr>
</table>