<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo desc:</strong>
  <%= @model_car.modelo_desc %>
</p>

<%= link_to 'Edit', edit_model_car_path(@model_car) %> |
<%= link_to 'Back', model_cars_path %>
